.error-message {
  color: red;
  font-size: 16px;
  margin-top: 8px;
}

.btn-create-category {
  border: 1px solid var(--primary);
  width: 120px;
  position: relative;
  left: 75%;
  font-size: 14px;
}

.btn-close-category {
  border: 1px solid var(--paragraph);
  width: 100px;
}

/* .ant-modal-close{
    font-weight: bold;
    position: relative;
    left: 96%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(227, 124, 124);
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    top: -16px;
} */
