/* ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #492b49, #ff3474);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #3b393b, #ff3474);
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background: #474747;
} */
