/* ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #492b49, #ff3474);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #3b393b, #ff3474);
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background: #474747;
} */

.btn-for-all-landpage {
  padding: 8px 16px;
  background-color: #e64980;
  color: white;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
}

.btn-for-all-landpage:hover {
  background-color: #f06595;
}
