.heading-callto-section {
  font-size: 36px;
}

.call-to-icons {
  width: 60px;
  height: 60px;
  /* background-color: yellow; */
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.1);
  /* border: 1px solid red; */
}

.selected-icon {
  font-size: 20px;
  position: relative;
  right: 10px;
  top: 5px;
}

.heading-why-brantford {
  font-size: 20px;
  flood-color: var(--secondary);
  font-weight: 600;
  line-height: 1;
}

.desciption-why-brantford {
  font-size: 16px;
  /* line-height: 1; */
  color: var(--paragraph);
}

.sr-no {
  color: var(--primary);
}

.third-why {
  background-color: #bac8ff;
  color: #495057;
  border: 1px solid #3b5bdb;
}

.second-why {
  background-color: #d0bfff;
  color: #7048e8;
  border: 1px solid #7048e8;
}
.first-why {
  background-color: #ffdeeb;
  color: #c2255c;
  border: 1px solid #c2255c;
}

.description-why-page {
  font-size: 18px;
  color: var(--paragraph);
  line-height: 0.4;
}

.row-why-page {
  margin-top: 60px;
  margin-bottom: 40px;
}
