.image-property-land {
  width: 100%;
}

.property-section-headings {
  line-height: 0.4;
}

.pr-heading-main {
  font-size: 20px !important;
}
.properties {
  /* border: 1px solid black; */
  border-radius: 15px;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.1);
  padding: 8px 5px 25px 5px;
}

.pr-heading-sub {
  text-transform: none !important;
  font-size: 14px;
}

.properties-image-land {
  width: 406px;
  height: 320px;
  border-radius: 15px 15px 0 0;
}

.price-section {
  position: relative;
  bottom: 30px;
}
