.heading-add-newpolicy {
  font-size: 20px;
  font-weight: 600;
  margin: 3% 0;
}

.privacy-section-description {
  font-size: 18px;
  color: var(--paragraph);
}

.btn-privacy-policy {
  /* width: 250px; */
  font-size: 14px;
  font-weight: 600;
  border: 1px solid rgb(241, 4, 233);
}

.btn-privacy-policy:hover {
  /* width: 250px; */
  background-color: rgb(241, 162, 233);
  color: white;
  font-weight: 600;
  border: none;
}

.privacy-policy-section-card {
  border-radius: 10px;
}

.cancel-btn {
  border: 1px solid rgb(231, 110, 40);
  width: 120px;
  font-size: 16px;
}

.cancel-btn:hover {
  background-color: rgba(235, 156, 110);
  width: 120px;
  font-size: 16px;
}
