.main-image {
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
}

.carousel {
  margin: 0;
}

.carousel .slider-wrapper {
  width: 50%;
}

.property-name-detailpage {
  font-size: 22px;
  line-height: 0.3;
  margin-top: 20px;
}

.property-status-badge {
  color: var(--secondary);
  background-color: pink;
  width: 120px;
  padding: 9px 20px;
  font-size: 14px;
  margin-top: 15px;
  text-transform: capitalize;
}

.location-detailPage {
  font-size: 15px;
  margin-top: 10px;
}

.tumbs {
  margin-block-start: 0;
  display: none !important;
}

.carousel .thumb {
  width: 130px !important;
  height: auto;
  border: none !important;
  margin: 0 0 0 20px !important;
}

.carousel .thumb .selected {
  border: none;
}

.featurs-detail {
  font-size: 15px;
  color: var(--paragraph);
}

.featues-icons {
  color: var(--primary);
}

.property-price-detailPage {
  margin-top: 20px;
  font-size: 22px;
}

.featurs-card {
  margin-top: 110px;
  border-radius: 0;
}

.description-paragraph {
  font-size: 15px;
  color: var(--paragraph);
}

.border-detail-page {
  border: 1px solid var(--secondary);
  padding: 25px 35px;
  border-radius: 10px;
}

.heading-proprty-detail {
  font-size: 15px;
  /* font-weight: 600; */
  color: var(--secondary);
}

.one {
  /* border-bottom: 1px solid var(--paragraph); */
  margin: 0;
  height: 27px;
}

.property-details-value {
  color: var(--paragraph);
  font-size: 16px;
  margin-right: 5px;
}
