.sidebar_main {
  width: 18%;
  height: 100%;
  position: fixed;
}

.dropdown-toggle::after {
  display: none !important;
}

.ListGroup.li {
  background-color: "red";
}

.dashbord_section_Header{
  /* margin-left: 18%; */
  position: fixed;
  
}


.dashbord_section_page{
  margin-top: 130px;
}

