:root {
  --primary: #a951a5;
  --secondary: #1a2224;
  --success: #f2beec;
  --paragraph: #768d95;
  --warning: #ff9966;
  --btntxt: white
}

h4 {
  color: var(--secondary);
}

p,
label {
  font-size: 18px;
  line-height: 1.7;
}

li {
  color: var(--secondary);
  font-size: 16px;
}
